*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/coverage/*
# Project exclude paths
/storage/app/
/storage/framework/
/bootstrap/cache/*
/storage/framework/cache/*
# .gitignore
--cache-directory/
coverage
coverage/*
.phpunit.cache/
--cache-directory/*
.scribe/
/coverage-report/Http/Controllers/adminController.php.html
/coverage-report/Events/AdminMessageEvent.php.html
/coverage-report/Jobs/AdminMessageJob.php.html
/coverage-report/Listeners/AdminMessageListener.php.html
/coverage-report/Mail/AdminMessageMail.php.html
/coverage-report/View/Components/AppLayout.php.html
/coverage-report/Providers/AppServiceProvider.php.html
/coverage-report/Providers/AuthServiceProvider.php.html
/coverage-report/_css/billboard.min.css
/coverage-report/_js/billboard.pkgd.min.js
/coverage-report/_js/bootstrap.bundle.min.js
/coverage-report/_css/bootstrap.min.css
/coverage-report/Console/Commands/cancelOldReservationsCommand.php.html
/coverage-report/Jobs/CancelOldReservationsJob.php.html
/coverage-report/Mail/CancelOldReservationsMail.php.html
/coverage-report/Events/CheckOutPetEvent.php.html
/coverage-report/Listeners/CheckOutPetListener.php.html
/coverage-report/Mail/CheckOutPetMail.php.html
/coverage-report/Console/Commands/cleanPDFCommand.php.html
/coverage-report/Events/ContactFormEvent.php.html
/coverage-report/Listeners/ContactFormListener.php.html
/coverage-report/Mail/ContactFormMail.php.html
/coverage-report/Http/Controllers/Controller.php.html
/coverage-report/Actions/Fortify/CreateNewUser.php.html
/coverage-report/_css/custom.css
/coverage-report/Actions/Fortify/dashboard.html
/coverage-report/Actions/Jetstream/dashboard.html
/coverage-report/Actions/dashboard.html
/coverage-report/Console/Commands/dashboard.html
/coverage-report/Console/dashboard.html
/coverage-report/Events/dashboard.html
/coverage-report/Http/Controllers/APIControllers/dashboard.html
/coverage-report/Http/Controllers/dashboard.html
/coverage-report/Http/Middleware/dashboard.html
/coverage-report/Http/Requests/dashboard.html
/coverage-report/Http/dashboard.html
/coverage-report/Jobs/dashboard.html
/coverage-report/Listeners/dashboard.html
/coverage-report/Livewire/dashboard.html
/coverage-report/Mail/dashboard.html
/coverage-report/Models/dashboard.html
/coverage-report/Policies/dashboard.html
/coverage-report/Providers/dashboard.html
/coverage-report/View/Components/dashboard.html
/coverage-report/View/dashboard.html
/coverage-report/dashboard.html
/coverage-report/Http/Controllers/DashboardController.php.html
/coverage-report/Actions/Jetstream/DeleteUser.php.html
/coverage-report/Http/Controllers/documentsController.php.html
/coverage-report/_js/file.js
/coverage-report/_icons/file-code.svg
/coverage-report/_icons/file-directory.svg
/coverage-report/Providers/FortifyServiceProvider.php.html
/coverage-report/Console/Commands/GenerateClientProfileCommand.php.html
/coverage-report/Jobs/GenerateClientProfileJob.php.html
/coverage-report/Jobs/GeneratePetContractJob.php.html
/coverage-report/View/Components/GuestLayout.php.html
/coverage-report/Actions/Fortify/index.html
/coverage-report/Actions/Jetstream/index.html
/coverage-report/Actions/index.html
/coverage-report/Console/Commands/index.html
/coverage-report/Console/index.html
/coverage-report/Events/index.html
/coverage-report/Http/Controllers/APIControllers/index.html
/coverage-report/Http/Controllers/index.html
/coverage-report/Http/Middleware/index.html
/coverage-report/Http/Requests/index.html
/coverage-report/Http/index.html
/coverage-report/Jobs/index.html
/coverage-report/Listeners/index.html
/coverage-report/Livewire/index.html
/coverage-report/Mail/index.html
/coverage-report/Models/index.html
/coverage-report/Policies/index.html
/coverage-report/Providers/index.html
/coverage-report/View/Components/index.html
/coverage-report/View/index.html
/coverage-report/index.html
/coverage-report/Models/Invoice.php.html
/coverage-report/Policies/InvoicePolicy.php.html
/coverage-report/Http/Requests/InvoiceRequest.php.html
/coverage-report/Http/Controllers/APIControllers/invoicesAPICrud.php.html
/coverage-report/Livewire/InvoicesCrud.php.html
/coverage-report/Providers/JetstreamServiceProvider.php.html
/coverage-report/_js/jquery.min.js
/coverage-report/Livewire/LanguageSwitcher.php.html
/coverage-report/Models/MedicalRecord.php.html
/coverage-report/Policies/MedicalRecordPolicy.php.html
/coverage-report/Http/Requests/MedicalRecordRequest.php.html
/coverage-report/Http/Controllers/APIControllers/medicalRecordsAPICrud.php.html
/coverage-report/Livewire/MedicalRecordsCrud.php.html
/coverage-report/Console/Commands/morososWarnCommand.php.html
/coverage-report/Jobs/morososWarnJob.php.html
/coverage-report/Mail/morososWarnMail.php.html
/coverage-report/_css/octicons.css
/coverage-report/Actions/Fortify/PasswordValidationRules.php.html
/coverage-report/Models/Payment.php.html
/coverage-report/Http/Controllers/APIControllers/paymentsAPI.php.html
/coverage-report/Models/Pet.php.html
/coverage-report/Policies/PetPolicy.php.html
/coverage-report/Http/Requests/PetRequest.php.html
/coverage-report/Http/Controllers/APIControllers/petsAPICrud.php.html
/coverage-report/Livewire/PetsCrud.php.html
/coverage-report/Http/Controllers/PublicController.php.html
/coverage-report/Console/Commands/queueWorkCommand.php.html
/coverage-report/Models/Reservation.php.html
/coverage-report/Events/ReservationCreatedEvent.php.html
/coverage-report/Listeners/ReservationCreatedListener.php.html
/coverage-report/Mail/ReservationCreatedMail.php.html
/coverage-report/Policies/ReservationPolicy.php.html
/coverage-report/Console/Commands/ReservationReminderCommand.php.html
/coverage-report/Events/ReservationReminderEvent.php.html
/coverage-report/Listeners/ReservationReminderListener.php.html
/coverage-report/Mail/ReservationReminderMail.php.html
/coverage-report/Http/Requests/ReservationRequest.php.html
/coverage-report/Livewire/ReservationsCrud.php.html
/coverage-report/Models/ReservationService.php.html
/coverage-report/Actions/Fortify/ResetUserPassword.php.html
/coverage-report/Http/Controllers/APIControllers/resservationsAPICrud.php.html
/coverage-report/Providers/RouteServiceProvider.php.html
/coverage-report/Console/Commands/SendPetReminderCommand.php.html
/coverage-report/Jobs/SendPetReminderJob.php.html
/coverage-report/Mail/SendPetReminderMail.php.html
/coverage-report/Models/Service.php.html
/coverage-report/Policies/ServicePolicy.php.html
/coverage-report/Http/Requests/ServiceRequest.php.html
/coverage-report/Http/Controllers/APIControllers/servicesAPICrud.php.html
/coverage-report/Livewire/ServicesCrud.php.html
/coverage-report/Http/Middleware/SetLocaleMiddleware.php.html
/coverage-report/_css/style.css
/coverage-report/Actions/Fortify/UpdateUserPassword.php.html
/coverage-report/Actions/Fortify/UpdateUserProfileInformation.php.html
/coverage-report/Models/User.php.html
/coverage-report/Policies/UserPolicy.php.html
/coverage-report/Events/UserRegisteredEvent.php.html
/coverage-report/Listeners/UserRegisteredListener.php.html
/coverage-report/Mail/UserRegisteredMail.php.html
/coverage-report/Http/Requests/UserRequest.php.html
/coverage-report/Http/Controllers/APIControllers/usersAPICrud.php.html
/coverage-report/Livewire/UsersCrud.php.html
