@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Establece la fuente global del sitio a Georgia */
@layer base {
    html {
        font-family: Georgia, serif;
        background: lightblue;

    }

    @media (min-width: 768px) {
        body {
            background-image: url("https://img.freepik.com/vector-gratis/imprimir-varios-colores_78370-7632.jpg?semt=ais_hybrid&w=740&q=80"), url("https://img.freepik.com/vector-gratis/imprimir-varios-colores_78370-7632.jpg?semt=ais_hybrid&w=740&q=80");
            background-repeat: repeat-y, repeat-y;
            background-size: 100px, 100px;
            background-attachment: fixed, fixed;
            background-position: left, right;
        }
    }
}

.gallery_img {
    @apply
    cursor-pointer

}

.fullscreen {
    @apply
    fixed
    top-[50%]
    left-[50%]
    -translate-x-1/2 -translate-1/2
    scale-110
    md:scale-150
    z-[9999]

}

